<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <title>Admin - Agencia Devhouse</title>
</head>
<body>
    <%- include('../components/header')%>
    <main>
        <form action="/admin/register-product" method="">
            <label>Nome do Produto</label>
            <input type="text" name="nome">
            <label>Descrição</label>
            <input type="text" name="descricao">
            <label>Link da imagem do produto</label>
            <input type="text" name="imagem">
            <button type="submit">Finalizar Cadastro</button>
        </form>
    </main>
</body>
</html>