<footer>
    <ul>
    <li>
        <a target="_blank" href="https://www.facebook.com/digitalhousebrasil">
        <img
            class="icon-social"
            src="/img/facebook.svg"
            alt="Icone Facebook"
        />
        </a>
    </li>
    <li>
        <a
        target="_blank"
        href="https://www.instagram.com/digitalhousebrasil/"
        >
        <img
            class="icon-social"
            src="/img/instagram.svg"
            alt="Icone Instagram"
        />
        </a>
    </li>
    <li>
        <a
        target="_blank"
        href="https://www.linkedin.com/school/digital-house-brasil/mycompany/"
        >
        <img
            class="icon-social"
            src="/img/linkedin.svg"
            alt="Icone LinkedIn"
        />
        </a>
    </li>
    <li>
        <a
        target="_blank"
        href="https://www.youtube.com/channel/UCRQdwmWMhTcqDFjPT4UPZYA/featured"
        >
        <img class="icon-social" src="/img/youtube.svg" alt="Youtube" />
        </a>
    </li>
    </ul>
</footer>