<header>
    <img src="/img/logo.png"alt="Agency - DevHouse"title="Agency - DevHouse" id="logo">
    <img class = "menu-mobile" src="/img/menu-icon.png"alt="menu-mobile"title="menu-mobile" id="menu">
    <nav class = "menu">
        <a href="http://localhost:5000">Home</a>
        <a href="http://localhost:5000/products">Produtos</a>
        <a href="http://localhost:5000/depositions">Depoimentos</a>
        <a href="http://localhost:5000/blog">Blog</a>
    </nav>
    <div class = "atendimento">
        <a href="tel:+1140028922">(11) 4002 - 8922</a>
        <button>Atendimento</button>
    </div>
</header>