<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DH Blog</title>
</head>
<body>
    <header>
        <h1>
            <font color="red">DH News</font>    
            </h1>
    </header>
    <main>
        <small>
            <b>Postado em 09/07/2021</b>
        </small>
        <p align="justify">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat,
        reiciendis accusantium vel laborum ducimus sunt ad quis itaque
        voluptates maiores neque consequatur rem iste id unde at? Iste, autem
        dolores. Molestias, delectus mollitia. Dolorum cum hic iure blanditiis
        quos! <strong>Doloremque quaerat</strong> totam assumenda. Consequatur,
        architecto! Ad consequuntur obcaecati possimus. A ut excepturi
        voluptatum quas nihil fuga earum perspiciatis nisi reprehenderit?
        </p>
        <img class="center"
        src="/img/destaque.jpg" alt="colleranig antes da pademia"/>

        <h2>Pariatur architecto doloremque debitis distinctio</h2>
        <p align="justify">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias ipsum
        reiciendis hic, ex quod aut, sapiente adipisci numquam reprehenderit
        asperiores maxime sequi quas deserunt doloremque molestiae dolores
        dolorem fugit atque?
        </p>
    </main>
</body>
</html>