<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/global.css">
    <title>Depoimentos</title>
</head>
<body>
    <%- include('components/header.ejs') %>
    <main>
        <% depositions.forEach(deposition => { %>

            <div>
                <h3><%= deposition.title%></h3>
                <p><%= deposition.description%></p>
                <b><%= deposition.author%></b>
            </div>
            
        <% }) %> 
    </main>
</body>
</html>