<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Agency DevHouse</title>
    <meta charset="utf-8" />
</head>

<body>
    <h1>Welcome to Agency DevHouse</h1>
    <h2>Our courses:</h1>
        <p></p>

    <h3>Full Stack Web Development Course</h1>
    <h4>Technologies used</h2>

    <ul type="square">
        <li>html</li>
        <li>css</li>
        <li>javascript</li>
        <li>node.js</li>
    </ul>

    <ul type="square">
        <li>express</li>
        <li>git</li>
        <li>mysql</li>
        <li>sequelize</li>
    </ul>
    <img src="/img/white.jpg" alt="">

</body>

</html>