#Contato {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 60px;
  height: 50vh;
}

#Contato h1 {
  color: #1e266d;
}

body {
  background-color: #f2f9ff;
}

.input-padrao {
  width: 100%;
  height: 50px;
  border-radius: 4px;
  border-color: gray;
  font-size: 22px;
  margin: 10px 0;
  padding: 5px;
}

.button-reset {
  background-color: #3751ff;
  font-weight: bold;
  color: #fff;
  padding: 10px;
  border-radius: 40px;
  border-color: #f2f9ff;
  cursor: pointer;
}

.button-submit {
  background-color: #fff;
  font-weight: bold;
  color: #1e266d;
  padding: 10px;
  border-radius: 40px;
  cursor: pointer;
  border-color: #f2f9ff;
}
